h1 {

  font-family: 'Oleo Script Swash Caps', cursive;
  text-align: center;
  width: 100%;
}
h2 {
         font-family: 'Oleo Script Swash Caps', cursive;
}
.nav-link {
         font-family: 'Oleo Script Swash Caps', cursive;
         font-size: 33px;

         color: black;
}
#footer {
  background-color: skyblue;
  text-align: center;
  border: 1px solid white;
 height: 70px;
 width: 100%;
 display: flex;
 justify-content: center;
bottom: 0px;
left: 0px;
}
.form-group {
  margin-inline-start: 100px;
  margin-inline-end: 100px;
 
}
.element-style {
  margin-inline-start: 100px;
  margin-inline-end: 100px;
 
}